* {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    color: #161616;
}

a {
    color: #004db2;
    text-decoration: none;
}

.highlight {
    border: #161616 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    width: 15%;
    max-width: 60px;
}

h1, h2 {
    line-height: 0em;
    color: #161616;
}

.sticky {
    top: 0;
    width: 100%;
    margin: 0 auto;
    position: sticky;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
    background-color: white;
}

body {
    background-color: #FDFDFD;

    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-column-gap: 10px;
    grid-template-rows: auto 5% auto 10% 1em 10%;
}

#title {    
    /*grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;*/

    text-align: center;
    /*font-size: 40pt;*/
    font-size: calc(15pt + 3.5vw);
    
}

.mn {
    /*grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;*/

    text-align: center;
}

.txt {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: justify;
    display: block;
}

.timetable {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: right;
}

.pagination {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    text-align: center;
}

.social {
    padding-top: 10px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

    line-height: 0.4em;
    text-align: justify;
}
