<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>elchris414</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}/assets/prof.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@elchris414" />
    <meta name="twitter:image" content="{{ site.url }}/assets/prof.png" />
    {% if page.is_post %}
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i|IBM+Plex+Sans:500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.rawgit.com/ELChris414/e77f9cc6a0a29b9df03a2241c683cbd5/raw/1cc2f434b53013162aa1d1f57b5692f9f16c808e/syntax-highlighting.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <script>
        function discord() {
            document.getElementById("title").innerText = "elchris414#8900";
        }
    </script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00cf15">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Did you for reals believe that it would be this easy? -->
</head>
<body>
    <div class="sticky">
        <a href="/"><h1 id="title">elchris414</h1></a>
        <div class="mn">
            <p>stuff &#x2022; more stuff</p>
        </div>
    </div>
    {{ content }}
    <div class="social">
        <a href="https://twitter.com/elchris414"><img src="/assets/twitter.svg" alt="Twitter" class="logo" /></a>
        <a href="https://github.com/elchris414"><img src="/assets/github.svg" alt="Github" class="logo" /></a>
        <a href="https://twitch.tv/elchris414"><img src="/assets/twitch.png" alt="Twitch" class="logo" /></a>
        <img src="/assets/discord.svg" alt="Discord" onclick="discord();" class="logo" />
        <br><p>Last build: {{ site.time | date_to_string }}</p>
    </div>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90773540-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-90773540-6');
</script>
</html>
